body {
  background: rgb(86, 66, 135);
  background: radial-gradient(
    circle,
    rgba(86, 66, 135, 1) 0%,
    rgba(86, 66, 135, 1) 50%,
    rgba(81, 182, 164, 1) 100%
  );
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
}
.title {
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  margin-bottom: 50px;
}
.bar {
  list-style: none;
  margin-top: 30px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  gap: 150px;
}
.forward-icon {
  width: 25px;
}
.heart-icon {
  display: flex;
  list-style: none;
  gap: 5px;
  position: relative;
}
.heart {
  width: 20px;
  
}
#heart1 {
  position: relative;
  animation: heartAnimation 2s infinite;
}
#heart2 {
  position: relative;
  animation: heartAnimation 2s infinite;
}
#heart3 {
  position: relative;
  animation: heartAnimation 2s infinite;
}
#heart4 {
  position: relative;
  animation: heartAnimation 2s infinite;
}
#heart5 {
  position: relative;
  animation: heartAnimation 2s infinite;
}
@keyframes heartAnimation {
  0% {
    width: 20px;
  } 50% {
    width: 22px;
  } 100% {
    width: 20px;
  }
}
.time {
  width: 120px;
  font-family: 'Manrope', sans-serif;
  
} 
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1.5fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  background-color: #333333;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../assets/card_images/face\ back\ card.jpg");
  backface-visibility: hidden;
}



